@charset "UTF-8";

html, body {
    height: 100%;
    margin: 0px;
    position: relative;
}

main {
    background-image: url(../img/montanha.jpg);
    height: 1039px;
    background-repeat: no-repeat;
    background-size: cover;
}

main > div > h1 {
    text-align: center;
    color: white;
}

div {
    width: 500px;
    height: 700px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-position: center bottom;

}

label {
    display: block;
    text-align: center;
}

.em {
    border-radius: 6px;
    box-shadow: 1px 4px rgba(0, 0, 0, 0.384);
    text-align: center;
    display: flex;
    margin: auto;
    width: 440px;
    height: 40px;
    margin-top: 40px;
    background-color: transparent;
    color: white;
    border-color: rgb(255, 255, 255);
    cursor: text;
}

.entrar {
    border-radius: 6px;
    box-shadow: 1px 4px rgba(0, 0, 0, 0.384);
    display: block;
    margin: auto;
    width: 440px;
    height: 40px;
    margin-top: 120px;
    background-color: transparent;
    color: white;
    border-color: rgb(255, 255, 255);
    cursor: pointer;
}

.em:hover {
    background-color: rgba(0, 0, 0, 0.418);
}

.entrar:hover {
    background-color: rgba(0, 0, 0, 0.418);
}


