/*------------------------------------------------ GERAL*/
body{
    background-color: #222222;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

h1{
    font-weight: 200;
}

/*------------------------------------------------ HEADER*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a{
    color: white;
}

a:hover{
    color: #840ec9;
    transition: 0.3s;
}

li{
    display: inline-block;
    margin: 20px;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

/*------------------------------------------------ MAIN*/
main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
}

span{
    color: #840ec9;
}

p{
    line-height: 20px;
    max-width: 500px;
}

img{
    width: 600px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

#submit{
    height: 50px;
    width: 50%;
    background-color: #840ec9;
    color: white;
    font-weight: bold;
}

#submit:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}